.container {
  width: 100%;
  height: 120px;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: transparent linear-gradient(90deg, #ffb876 0%, #ff5353 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  color: #fff;
}
.title  {
  display: flex;
  width: 100%;
  padding-right: 10%;
  justify-content: center;
  color: #fff;
}
.body-header {
  display: grid;
  grid-template-columns: 10% 90%;
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  padding: 3rem;
}

.btn-back{
  cursor: pointer;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

// .container{
//   display: flex;
//   align-items: center;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 120px;
//   background: transparent linear-gradient(90deg, #ffb876 0%, #ff5353 100%) 0% 0%
//     no-repeat padding-box;
//   box-shadow: 0px 3px 6px #00000029;
//   opacity: 1;
// }
// .main-title {
//   display: flex;
//   position: absolute;
//   flex-direction: row;
//   color: #fff;
//   font-family: 'Roboto', sans-serif;
// }

// .trimmed {
//   width: calc(100% - 16.5625rem);
//   margin-left: 16.5625rem;
// }

// .md-screen {
//   width: calc(100% - 5rem);
//   margin-left: 5rem;
// }
